<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xTuapi - 免费提供企业级Api</title>
</head>
<body>
<h1>Tuapi - 免费提供企业级Api</h1>
<hr>
<p>Api列表：</p>
<ul>
    <li><a href="/code_ocr">验证码识别</a></li>
    <li><a href="/voice_to_text">语音识别[未完成]</a></li>
    <li><a href="/rand_images">随机图片[未完成]</a></li>
</ul>
</body>
</html>